<beans xmlns="https://www.springframework.org/schema/beans"
       xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="https://www.springframework.org/schema/aop"
       xsi:schemaLocation="https://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		https://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <aop:aspectj-autoproxy />

    <bean name="employee" class="model.Employee">
        <property name="name" value="Dummy name"/>
    </bean>

    <bean name="EmployeeService" class="service.EmplyeeService">
        <property name="employee" ref="employee" />
    </bean>

    <>
</beans>